#inner {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 20px solid black;
    border-top: 20px solid red;
     animation: spin 2s linear infinite, colorChange 6s linear infinite;
}

@keyframes spin {
    0%{transform : rotate(0deg);}
    100%{transform: rotate(360deg);}
}

@keyframes colorChange {
    0%, 33% { border-top-color: red; }
    34%, 66% { border-top-color: yellow; }
    67%, 100% { border-top-color: blue; }
}